@*Layout文件中写Html代码*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Person Information</h1>
    <div style="padding: 20px; border: solid medium black;font-size: 18pt ">
        @RenderBody()
    </div>
    <h2>Visit <a href="http://www.bing.com">Bing - Microsoft</a></h2>
</body>
</html>
