@model WebApplication1.Models.Product

@{
    ViewBag.Title = "NameAndPrice";
    Layout = "~/Views/Share/_BasicLayout.cshtml";
}

<h2>Name And Price</h2>
His name is @Model.Name
<br />
And his cost is @Model.Price